# DATA599-02:Python for Data Science - Final Project: Effort Diary
***
## Members:
- Hans Lehndorff
- Isaac Johnson
- Jesse DeBolt

## Effort per member as of 7/24/2023

In [10]:
import pandas as pd
import numpy as np

# Define the tasks and members
tasks = ["Project Proposal", "Data Pre-processing", "Visualizations", "Various EDA", 
         "Random Forest Classifier", "Support Vector Classifier", "Clustering", 
         "Advanced Tasks", "Effort Diary"]
members = ["Hans Lehndorff", "Isaac Johnson", "Jesse DeBolt"]

# Define the effort each member put into each task
effort = [
    [10, 80, 10],  # Project Proposal
    [10, 10, 80],  # Data Pre-processing
    [80, 10, 10],  # Visualizations
    ["-", "-", "-"],  # Various EDA
    ["-", "-", "-"],  # Random Forest Classifier
    ["-", "-", "-"],  # Support Vector Classifier
    ["-", "-", "-"],  # Clustering
    ["-", "-", "-"],  # Advanced Tasks
    [33.3, 33.3, 33.3]  # Effort Diary
]

# Create the DataFrame
df = pd.DataFrame(effort, columns=members, index=tasks)

## Addidtional formatting and displaying resulting table

In [11]:
# For existing numeric values, convert them to float and round to 1 decimal place, then convert them to strings with one decimal
for col in df.columns:
    df[col] = df[col].apply(lambda x: "{:.1f}".format(float(x)) if isinstance(x, (int, float)) else x)

# Then convert all 'nan' values back to 'tbd'
df = df.replace('nan', 'tbd')

# Display the DataFrame with centered alignment
df.style.set_properties(**{'text-align': 'center'})