# DATA599-02:Python for Data Science - Final Project (Collaborative tasks)
***
## Members:
- Hans Lehndorff
- Isaac Johnson
- Jesse DeBolt

## Setup

In [3]:
import pandas as pd
import numpy as np

# Set working directory (modify as needed)
# %cd -q "C:\Users\jesse\Documents\Schooling\Willamette-MSDS\1-DATA599-02_Python\Final\CHD_group_project"

### Importing data

In [4]:
# Import the dataset
cdc = pd.read_csv('data/CDC_for_python.csv')

In [5]:
# View number of rows and columns
cdc.shape

(3226, 59)

***

## Data cleaning

### Removing US territories

In [6]:
cdc = cdc[~cdc['display_name'].str.contains(r'\(AS\)|\(GU\)|\(MP\)|\(PR\)|\(County Equivalent\)')]

In [7]:
# View number of rows to confirm removal
cdc.shape

(3142, 59)

### Separate county and state

In [8]:
# Separate the 'display_name' column
cdc[['county', 'state']] = cdc['display_name'].str.extract(r'\"(.+), \((.+)\)\"', expand=True)

# Remove the original column
cdc = cdc.drop(['display_name'], axis=1)

In [80]:
cdc.head()

,fips,Age65Plus,AIAN,AIANmen,AIANwomen,ANHPI,ANHPImen,ANHPIwomen,Black,BlackMen,...,EdLessColl,SNAPrecipients,MedHomeValue,MedHouseIncome,Poverty,Unemploy,UrbanRural,county,state,pcp
0,34025,17.7,781.0,508.0,273.0,26636.0,12508.0,14128.0,33615.0,15605.0,...,52.7,4.5,435000.0,104000.0,5.9,5.5,LargeFringe_Urban,Monmouth,NJ,0.8
1,34019,18.6,121.0,74.0,47.0,4082.0,1924.0,2158.0,2890.0,1882.0,...,46.0,1.9,419000.0,114000.0,4.1,4.6,LargeFringe_Urban,Hunterdon,NJ,0.8
2,34017,12.0,2619.0,1539.0,1080.0,88314.0,44162.0,44152.0,63097.0,29672.0,...,56.0,13.1,401000.0,77000.0,13.1,6.8,Large_Urban,Hudson,NJ,1.8
3,34023,15.1,1399.0,795.0,604.0,152352.0,76218.0,76134.0,66271.0,31215.0,...,55.6,6.0,351000.0,96000.0,7.4,5.7,LargeFringe_Urban,Middlesex,NJ,1.0
4,34001,18.1,872.0,498.0,374.0,16216.0,7733.0,8483.0,29354.0,13401.0,...,71.2,13.3,217000.0,61000.0,13.8,9.5,MediumSmall_Urban,Atlantic,NJ,1.2

### Relabeling Urban/Rural codes

In [9]:
#change rural/urban
# 1 = Large central metro -> Large_Urban
# 2 = Large fringe metro -> LargeFringe_Urban
# 3 = Medium/small metro -> MediumSmall_Urban
# 4 = Nonmetro -> Rural

# Replace values in 'UrbanRural' column
cdc['UrbanRural'] = cdc['UrbanRural'].replace({1: 'Large_Urban', 2: 'LargeFringe_Urban', 3: 'MediumSmall_Urban', 4: 'Rural'})

# Replace -1 with NaN
cdc = cdc.replace(-1, np.nan)

### Review header names, check for missing rural/urban values

In [10]:
# Display column names
print(cdc.columns)

# Show unique values in 'UrbanRural'
print(cdc['UrbanRural'].unique())

# Create a subset where 'UrbanRural' is NaN, an empty string, or 'NA'
rural_query = cdc[cdc['UrbanRural'].isin([pd.np.nan, '', 'NA'])]

# Display the first 20 rows of this subset
rural_query.head(20)

Index(['fips', 'Age65Plus', 'AIAN', 'AIANmen', 'AIANwomen', 'ANHPI',
       'ANHPImen', 'ANHPIwomen', 'Black', 'BlackMen', 'BlackWomen', 'Hispanic',
       'HispanicMen', 'HispanicWomen', 'OtherRace', 'OtherRaceMen',
       'OtherRaceWomen', 'PopAllGenders', 'PopMen', 'PopWomen', 'pop',
       'TwoPlus', 'TwoPlusMen', 'TwoPlusWomen', 'White', 'WhiteMen',
       'WhiteWomen', 'bpmUse', 'CholScreen', 'CholMedNonAdhear',
       'CholMedElegible', 'cruParticipate', 'Hospitals', 'HospCIC', 'HospCR',
       'HospED', 'Pharmacies', 'HealthIns', 'CardioPhys', 'PrimaryCarePhys',
       'CHD', 'HighBP', 'Stroke', 'Diabetes', 'HighChol', 'Obesity',
       'PhysInactivity', 'Smoker', 'AirQuality', 'Parks', 'Broadband',
       'EdLessColl', 'SNAPrecipients', 'MedHomeValue', 'MedHouseIncome',
       'Poverty', 'Unemploy', 'UrbanRural', 'county', 'state'],
      dtype='object')
['Rural' 'MediumSmall_Urban' nan 'Large_Urban' 'LargeFringe_Urban']

C:\Users\jesse\AppData\Local\Temp\ipykernel_35312\3629840664.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  rural_query = cdc[cdc['UrbanRural'].isin([pd.np.nan, '', 'NA'])]

,fips,Age65Plus,AIAN,AIANmen,AIANwomen,ANHPI,ANHPImen,ANHPIwomen,Black,BlackMen,...,Broadband,EdLessColl,SNAPrecipients,MedHomeValue,MedHouseIncome,Poverty,Unemploy,UrbanRural,county,state
25,2158,5.8,4431.0,2361.0,2070.0,17.0,13.0,4.0,39.0,39.0,...,33.9,96.7,48.7,73000.0,38000.0,27.9,19.9,NaN,Kusilvak,AK

### Inserting Rural/Urban for missing value

In [11]:
# Find and insert where county is 'Kusilvak' based on Wikipedia data.
cdc.loc[cdc['county'].str.contains('Kusilvak', na=False), 'UrbanRural'] = "Rural"

# Display unique values in the 'UrbanRural' column
print(cdc['UrbanRural'].unique())

# Double check for any NAs in Rural/Urban
rural_query = cdc[cdc['UrbanRural'].isin([None, "", "NA"])].head(20)
rural_query

['Rural' 'MediumSmall_Urban' 'Large_Urban' 'LargeFringe_Urban']

Empty DataFrame
Columns: [fips, Age65Plus, AIAN, AIANmen, AIANwomen, ANHPI, ANHPImen, ANHPIwomen, Black, BlackMen, BlackWomen, Hispanic, HispanicMen, HispanicWomen, OtherRace, OtherRaceMen, OtherRaceWomen, PopAllGenders, PopMen, PopWomen, pop, TwoPlus, TwoPlusMen, TwoPlusWomen, White, WhiteMen, WhiteWomen, bpmUse, CholScreen, CholMedNonAdhear, CholMedElegible, cruParticipate, Hospitals, HospCIC, HospCR, HospED, Pharmacies, HealthIns, CardioPhys, PrimaryCarePhys, CHD, HighBP, Stroke, Diabetes, HighChol, Obesity, PhysInactivity, Smoker, AirQuality, Parks, Broadband, EdLessColl, SNAPrecipients, MedHomeValue, MedHouseIncome, Poverty, Unemploy, UrbanRural, county, state]
Index: []

[0 rows x 60 columns]

### Convert fips to string

In [12]:
cdc['fips'] = cdc['fips'].astype(str)

### Inserting Parks missing value

In [13]:
cdc.loc[cdc['county'].str.contains('Kusilvak', na=False), 'Parks'] = 66

### Checking for missing values

In [14]:
# Total number of missing values in dataset
total_na = cdc.isnull().sum().sum()
print(total_na)

# Total number of missing values in each column
column_na = cdc.isnull().sum()
print(column_na)

# Total number of missing values in each row
cdc['count_na'] = cdc.isnull().sum(axis=1)

# Sort by 'count_na'
cdc = cdc.sort_values(by='count_na', ascending=False)

3340
fips                   0
Age65Plus              1
AIAN                   1
AIANmen                1
AIANwomen              1
ANHPI                  1
ANHPImen               1
ANHPIwomen             1
Black                  1
BlackMen               1
BlackWomen             1
Hispanic               1
HispanicMen            1
HispanicWomen          1
OtherRace              1
OtherRaceMen           1
OtherRaceWomen         1
PopAllGenders          1
PopMen                 1
PopWomen               1
pop                    1
TwoPlus                1
TwoPlusMen             1
TwoPlusWomen           1
White                  1
WhiteMen               1
WhiteWomen             1
bpmUse                22
CholScreen            22
CholMedNonAdhear      81
CholMedElegible      111
cruParticipate       744
Hospitals              0
HospCIC                0
HospCR                 0
HospED                 0
Pharmacies             1
HealthIns              1
CardioPhys          1966
PrimaryCarePhys      220
CHD                    1
HighBP                22
Stroke                 1
Diabetes              21
HighChol              22
Obesity               21
PhysInactivity        21
Smoker                 1
AirQuality            26
Parks                  0
Broadband              1
EdLessColl             1
SNAPrecipients         1
MedHomeValue           1
MedHouseIncome         2
Poverty                2
Unemploy               2
UrbanRural             0
county                 0
state                  0
dtype: int64

### Remove counties with minimal data

In [15]:
# Remove those that have more than 8 NAs in that row
cdc = cdc[cdc['count_na'] <= 8]

# Remove 'count_na' column
cdc = cdc.drop('count_na', axis=1)

### Inserting values for missing data for NJ
Note: These values were obtained from 500 Cities & Places data (https://chronicdata.cdc.gov/browse)

In [16]:
# bpmUse
cdc.loc[cdc['state'].str.contains('NJ', na=False), 'bpmUse'] = 71.71

# CholScreen
cdc.loc[cdc['state'].str.contains('NJ', na=False), 'CholScreen'] = 79.43

# HighBP
cdc.loc[cdc['state'].str.contains('NJ', na=False), 'HighBP'] = 33.7

# Diabetes
cdc.loc[cdc['state'].str.contains('NJ', na=False), 'Diabetes'] = 17.4

# HighChol
cdc.loc[cdc['state'].str.contains('NJ', na=False), 'HighChol'] = 32.41

# Obesity
cdc.loc[cdc['state'].str.contains('NJ', na=False), 'Obesity'] = 33.59

### Inserting values for missing values in Median Home Value
Note: these values were obtained from city-data.com (https://www.city-data.com)

In [17]:
cdc.loc[cdc['fips'].str.contains('48261', na=False), 'MedHomeValue'] = 42550
cdc.loc[cdc['fips'].str.contains('48301', na=False), 'MedHomeValue'] = 38143
cdc.loc[cdc['fips'].str.contains('46017', na=False), 'MedHomeValue'] = 101393
cdc.loc[cdc['fips'].str.contains('46095', na=False), 'MedHomeValue'] = 60537

### Inserting missing values for PCP and Cardio Phys

In [18]:
# Read in dataset with values for merging
pcp_cardio_count = pd.read_csv("data/pcp_cardio_count.csv")

# Convert the 'COUNTY' column to string
pcp_cardio_count['COUNTY'] = pcp_cardio_count['COUNTY'].astype(str)

# Joining count data frame to the cdc data frame
cdc = cdc.merge(pcp_cardio_count, left_on='fips', right_on='COUNTY', how='left')

# Use fillna to replace NAs in PCP and CardioPhys
cdc['pcp'] = cdc['pcp'].fillna(cdc['PrimaryCarePhys'])
cdc['CardioPhys'] = cdc['CardioPhys'].fillna(cdc['cardio'])

# Remove the temporary columns
cdc = cdc.drop(['PrimaryCarePhys', 'cardio', 'COUNTY'], axis=1)

### Check entire data frame for remaining missing or NA values

In [19]:
# Check DataFrame for missing or NA values, but only display columns with missing values
missing_values = cdc.isnull().sum()
missing_values = missing_values[missing_values != 0]
print(missing_values)

CholMedNonAdhear      80
CholMedElegible      110
cruParticipate       742
CardioPhys          1493
PhysInactivity        21
AirQuality            24
pcp                   25
dtype: int64

In [20]:
cdc

,fips,Age65Plus,AIAN,AIANmen,AIANwomen,ANHPI,ANHPImen,ANHPIwomen,Black,BlackMen,...,EdLessColl,SNAPrecipients,MedHomeValue,MedHouseIncome,Poverty,Unemploy,UrbanRural,county,state,pcp
0,34025,17.7,781.0,508.0,273.0,26636.0,12508.0,14128.0,33615.0,15605.0,...,52.7,4.5,435000.0,104000.0,5.9,5.5,LargeFringe_Urban,Monmouth,NJ,0.8
1,34017,12.0,2619.0,1539.0,1080.0,88314.0,44162.0,44152.0,63097.0,29672.0,...,56.0,13.1,401000.0,77000.0,13.1,6.8,Large_Urban,Hudson,NJ,1.8
2,34041,18.1,135.0,75.0,60.0,2178.0,1107.0,1071.0,3878.0,1964.0,...,65.5,6.1,266000.0,80000.0,7.3,5.5,MediumSmall_Urban,Warren,NJ,1.6
3,34039,14.5,1425.0,865.0,560.0,23289.0,10781.0,12508.0,92839.0,42103.0,...,62.9,7.1,379000.0,83000.0,9.2,6.7,Large_Urban,Union,NJ,1.5
4,34037,17.4,38.0,38.0,0.0,2328.0,1044.0,1284.0,2399.0,1327.0,...,63.4,2.6,272000.0,93000.0,5.4,5.9,LargeFringe_Urban,Sussex,NJ,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,13157,14.4,7.0,7.0,0.0,948.0,444.0,504.0,3720.0,1980.0,...,76.5,9.1,210000.0,71000.0,9.1,2.4,Rural,Jackson,GA,140.0
3136,13153,12.7,904.0,193.0,711.0,4154.0,1488.0,2666.0,35261.0,16097.0,...,69.0,13.4,157000.0,69000.0,10.8,3.6,MediumSmall_Urban,Houston,GA,144.0
3137,13139,15.0,326.0,187.0,139.0,3035.0,1267.0,1768.0,11120.0,5338.0,...,76.0,9.8,213000.0,68000.0,12.7,2.7,MediumSmall_Urban,Hall,GA,524.0
3138,31019,14.6,69.0,30.0,39.0,652.0,358.0,294.0,369.0,204.0,...,66.2,6.2,185000.0,69000.0,9.5,2.0,Rural,Buffalo,NE,100.0
3139,21101,17.6,75.0,44.0,31.0,160.0,68.0,92.0,2707.0,1288.0,...,81.8,12.1,133000.0,55000.0,13.4,4.5,MediumSmall_Urban,Henderson,KY,98.0

### Impute for missing values

In [21]:
from sklearn.impute import SimpleImputer

# Specify the columns you want to impute
columns_to_impute = ['CholMedNonAdhear', 'CholMedElegible', 'cruParticipate', 'CardioPhys', 'PhysInactivity', 'AirQuality', 'pcp']

# Subset the DataFrame to only these columns
subset_cdc = cdc[columns_to_impute]

# Create an imputer object
imputer = SimpleImputer(strategy='mean')

# Fit the imputer to the data and transform the data
imputed_data = imputer.fit_transform(subset_cdc)

# Convert the result back to a DataFrame
imputed_data = pd.DataFrame(imputed_data, columns=subset_cdc.columns)

# Replace the original columns in the DataFrame with the imputed data
cdc[columns_to_impute] = imputed_data

### Changing UrbanRural to True/False

In [41]:
cdc['IsRural'] = cdc['UrbanRural'] == 'Rural'

# Checking status of new column
print(cdc.IsRural.unique())
print(cdc['IsRural'].dtype)

[False  True]
bool

### Check entire data frame for remaining missing or NA values

In [42]:
# Check DataFrame for missing or NA values, but only display columns with missing values
missing_values = cdc.isnull().sum()
missing_values = missing_values[missing_values != 0]
print(missing_values)

Series([], dtype: int64)

### Check variable class types

In [43]:
unique_dtypes = np.unique(cdc.dtypes)
print(unique_dtypes)

[dtype('bool') dtype('int64') dtype('float64') dtype('O')]

In [44]:
for column in cdc.columns:
    print(f"{column}: {cdc[column].dtype}")

fips: object
Age65Plus: float64
AIAN: float64
AIANmen: float64
AIANwomen: float64
ANHPI: float64
ANHPImen: float64
ANHPIwomen: float64
Black: float64
BlackMen: float64
BlackWomen: float64
Hispanic: float64
HispanicMen: float64
HispanicWomen: float64
OtherRace: float64
OtherRaceMen: float64
OtherRaceWomen: float64
PopAllGenders: float64
PopMen: float64
PopWomen: float64
pop: float64
TwoPlus: float64
TwoPlusMen: float64
TwoPlusWomen: float64
White: float64
WhiteMen: float64
WhiteWomen: float64
bpmUse: float64
CholScreen: float64
CholMedNonAdhear: float64
CholMedElegible: float64
cruParticipate: float64
Hospitals: int64
HospCIC: int64
HospCR: int64
HospED: int64
Pharmacies: float64
HealthIns: float64
CardioPhys: float64
CHD: float64
HighBP: float64
Stroke: float64
Diabetes: float64
HighChol: float64
Obesity: float64
PhysInactivity: float64
Smoker: float64
AirQuality: float64
Parks: float64
Broadband: float64
EdLessColl: float64
SNAPrecipients: float64
MedHomeValue: float64
MedHouseIncome: float64
Poverty: float64
Unemploy: float64
UrbanRural: object
county: object
state: object
pcp: float64
count_na: int64
IsRural: bool

### Export data fram to csv file

In [45]:
cdc.to_csv('data/CDC_python_clean.csv', index=False)